<section
  id="about"
  class="w-auto mx-auto py-12 px-4 text-gray-300 text-base leading-relaxed bg-[#6c21c0] h-[80%]"
>
  <article class="flex flex-col justify-center items-center">
    <h2 class="text-2xl sm:text-3xl font-bold mb-6 text-white">Sobre mí</h2>
    <p class="max-w-3xl text-center">
      Soy Aitor, desarrollador web de Valencia. Me apasiona construir
      aplicaciones útiles y visualmente atractivas, combinando funcionalidad y
      diseño moderno. Suelo trabajar con tecnologías como
      <span class="text-blue-400">React</span>,
      <span class="text-orange-400">Astro</span>,
      <span class="text-blue-50">Next.js</span> y
      <span class="text-teal-400">Tailwind CSS</span>. También tengo experiencia
      con
      <span class="text-green-600">Node.js</span>,
      <span class="text-blue-600">PHP</span> y
      <span class="text-yellow-400">Python</span>. Me gusta mantenerme al día y
      aprender constantemente, siguiendo a creadores como
      <a
        href="https://www.youtube.com/c/Midudev"
        target="_blank"
        rel="noopener"
        class="underline text-blue-400">Midudev</a
      > o
      <a
        href="https://www.youtube.com/@mouredev"
        target="_blank"
        rel="noopener"
        class="underline text-blue-400">MoureDev</a
      >.
    </p>
  </article>
</section>
