<nav
    class="w-full shadow-none z-auto py-5 px-6 bg-white text-black flex items-center justify-between"
>
    <div class="text-3xl font-bold tracking-tight">
        <a href="/"><span class="text-purple-600">Aitor</span> </a>
    </div>

    <a
        href="#contact"
        class="border-2 border-purple-600 text-purple-600 text-lg font-normal px-6 py-3 rounded-full hover:bg-purple-600 hover:text-white transition-all duration-200"
    >
        Contactar
    </a>
</nav>
