---
// src/components/Projects.astro
import ProjectCard from "./ProjectCard.astro";
import type { Props as ProjectProps } from "./ProjectCard.astro";

const CLAVE_VIDEOS =
  import.meta.env.PUBLIC_CLAVE_VIDEOS || "defaultClaveVideos";

const projects: ProjectProps[] = [
  {
    title: "Análisis de campañas Meta",
    description:
      "Dashboard conectado con Meta API y GPT para análisis de campañas. El usuario puede ver el redimiento de sus campañas, analizar el rendimiento y recibir recomendaciones automáticas a través de GPT.",
    tech: ["Next.js", "React Query", "Zustand", "MongoDB", "GPT"],
    iframe: "https://youtu.be/QXrp2c2V-DI",
    repoGithub: "https://github.com/Joaiser/IA-Analysis-Campaigns/tree/dev",
    status: "Beta",
  },
  {
    title: "TFG - Ecommerce",
    description:
      "Ecommerce completo hecho con React y Express, usando MySQL. Además, usamos dependencias como Axios, React Router, zod, express-validator, bcrypt, jsonwebtoken, dotenv, cors, paypal.",
    tech: ["React", "Express", "MySQL"],
    iframe: "https://youtu.be/J6Y9nGC9WG0",
    repoGithub: "https://github.com/Joaiser/Ecomerce-basico",
  },
  // {
  //   title: "Juego promo (Ruleta, Quiz, Rasca)",
  //   description: "App gamificada con Astro SSR+CSR, Mongo y React.",
  //   tech: ["Astro", "React", "MongoDB"],
  //   repoGithub: "https://github.com/Joaiser/ruleta-sorteo/tree/master",
  //   status: "En desarrollo",
  // },
  {
    title: "Product Reservation (Prestashop)",
    description: "Permite a comerciales gestionar reservas desde el admin.",
    tech: ["Prestashop", "PHP", "jQuery"],
    private: true,
    iframe: "https://youtu.be/pW_rhK4RaL8",
    status: "Finalizado",
    privateKey: CLAVE_VIDEOS,
    repoGithub: "https://github.com/Joaiser/prestashop-product-reservations",
  },
  // {
  //   title: "Auto Group Promotion",
  //   description: "Cambio de grupos según comportamiento y gasto.",
  //   tech: ["Prestashop", "PHP", "MySQL"],
  //   private: true,
  //   video: "/videos/auto-group.mp4",
  //   status: "Finalizado",
  // },
  {
    title: "Buscador de peliculas",
    description:
      "Usando una API y hooks de react creamos un buscador de películas.",
    tech: ["React", "Vite"],
    repoGithub:
      "https://github.com/Joaiser/Proyectos-React/tree/main/buscarPeliculas",
    video: "/videos/Buscadorpelicula/Buscadorpeliculas.mp4",
    status: "Finalizado",
  },
  // {
  //   title: "Landing de una web llamada Prelude",
  //   description: "Web HTML + CSS sin frameworks.",
  //   tech: ["HTML", "CSS"],
  //   repoGithub:
  //     "https://github.com/Joaiser/statics-works/tree/main/proyecto-prelude",
  //   iframe: "/demos/landingPrelude/proyecto-prelude/index.html",
  //   status: "Finalizado",
  // },
  // {
  //   title: "landing de proyecto volupa",
  //   description: "Otra web estática de prueba.",
  //   tech: ["HTML", "CSS"],
  //   repoGithub:
  //     "https://github.com/Joaiser/statics-works/tree/main/proyecto-volupa",
  //   iframe: "/demos/landingVolupa/index.html",
  //   status: "Finalizado",
  // },
];
---

<style>
  @keyframes underline-grow {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  a.underline-anim::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-image: linear-gradient(to right, #7c3aed, #a78bfa);
    width: 0;
    transition: width 0.3s ease-in-out;
    border-radius: 9999px;
  }
  a.underline-anim:hover::after {
    width: 100%;
  }
</style>

<section
  id="projects"
  class="py-20 px-6 bg-white dark:bg-gradient-to-b dark:from-purple-950 dark:to-gray-950"
>
  <div class="max-w-5xl mx-auto text-center">
    <h2
      class="text-3xl font-bold mb-4 text-gray-900 dark:text-white relative z-15"
    >
      Mis últimos proyectos
    </h2>
    <p class="text-gray-600 mb-12 dark:text-white relative z-15">
      Algunos módulos y sistemas que he desarrollado recientemente. ¿Quieres ver
      más?
      <a
        href="mailto:aitor.v@hotmail.com?subject=Contacto%20desde%20portfolio&body=Hola%20Aitor%2C%20te%20escribo%20porque..."
        class="relative text-purple-600 dark:text-purple-400 transition-colors duration-300 ease-in-out underline-anim hover:text-purple-400 dark:hover:text-purple-300"
      >
        Contáctame
      </a>
    </p>

    <div class="grid md:grid-cols-2 gap-8">
      {projects.map((project) => <ProjectCard {...project} />)}
    </div>
  </div>
</section>
